* {
  font-family: "Open Sans", sans-serif;
}

.page-container {
  margin: 0px;
  padding: 0px;
  max-width: 100;
}

.title-card {
  background-color: #111;
  -webkit-box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
}
.title-text {
  color: #fff;
  font-size: 10em;
  margin: 0px;
  text-align: center;
}

.page {
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  .catering {
    background-image: url("/catering.png");
  }
  .home {
    background-image: url("/exterior.png");
  }
  .info {
    background-image: url("/info.png");
  }
  .menu {
    background-image: url("/menu.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .reviews {
    background-image: url("/reviews.png");
  }
}

.link-container {
  padding-left: 1em;
  padding-top: 0.25em;
  .link {
    color: #fff;
  }
  .active {
    color: rgba(255, 255, 255, 0.75);
  }
  .link:active {
    color: rgba(255, 255, 255, 0.75);
  }
}

.menu-container {
  // box shadow generator css or css matic
  -webkit-box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0 px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  width: 100%;
  padding: 2em;
}
